<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{css/style.css}">
  <title th:text="#{account.titulo1}"></title>
</head>
<body class="custom-bg-1">
<th:block th:include="view/fragments/nav"></th:block>

<div class="container-fluid mb-5">
  <div class="row align-items-center" style="height: calc(100vh - 96px)">
    <div class="col-lg-6 offset-lg-3 mt-5">
      <h2 class="text-center text-texto-contraste mb-4" th:text="#{account.titulo2}"></h2>
      <div class="card rounded-4 bg-primary">
        <form class="card-body bg-primary p-lg-4 pt-5 rounded-4 mx-xl-4" th:action="@{cuenta}" method="POST">
          <div class="p-lg-2 row">
            <div class="text-center col-lg-6 my-auto">
              <img th:src="@{img/user.png}" class="img-fluid img-thumbnail rounded-circle" width="200px" alt="img-principal" style="object-fit: cover;">
            </div>
            <div class="mx-auto mt-3 col-lg-6">
              <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="username" th:field="*{userlogin.username}" placeholder="nombre de usuario">
                <label for="username" th:text="#{account.campo1}"></label>
              </div>
              <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="name" th:field="*{userlogin.data.name}" name="name" placeholder="nombre">
                <label for="name" th:text="#{account.campo2}"></label>
                <span class="invalid-feedback text-texto-contraste" id="nameBlankError"></span>
              </div>
              <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="firstsurname" th:field="*{userlogin.data.firstSurname}" name="firstSurname" placeholder="apellido1">
                <label for="firstsurname" th:text="#{account.campo3}"></label>
                <span class="invalid-feedback text-texto-contraste" id="firstSurnameBlankError"></span>
              </div>
              <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="secondsurname" th:field="*{userlogin.data.secondSurname}" placeholder="Segundo apellido">
                <label for="secondsurname" th:text="#{account.campo4}"></label>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary px-5 mb-3 w-50" th:text="#{account.boton1}"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<th:block th:include="view/fragments/footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>