<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${session.language.getKeyValue().get('feedback.title')}"></title>
    <link rel="stylesheet" th:href="@{/dist/style.css}">

</head>
<body>

<div class="container-message">
    <div class="tick">
        <i class="fas fa-check-circle"></i>
    </div>
    <h1 class="title-verification" th:text="${session.language.getKeyValue().get('feedback.title')}"></h1>
    <p class="text-verification" th:text="${session.language.getKeyValue().get('feedback.contacto.mensaje')}"></p>
    <a th:href="@{/}" class="btn btn-cta" th:text="${session.language.getKeyValue().get('correo.btn.inicio')}"></a>
</div>

</body>
</html>
