<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Nueva Incidencia</title>
</head>

<style>


    .sidebar-hide {
        margin-left: -280px;
    }
</style>

<body>
<th:block th:include="view/fragments/nav"></th:block>


<main class="d-flex flex-nowrap" style="transition: 0.5s; height: 100vh">
    <th:block th:include="view/fragments/sidebar"></th:block>

    <div class="mx-4 mt-4 mb-0" style="height: 100%;">
        <button id="sidebarToggle">Toggle Sidebar</button>
        <form action="#" th:action="@{/nueva/incidencia}" th:object="${incidence}" method="POST">

            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" th:field="*{title}" id="titulo" placeholder="Titulo.."
                       name="title">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div class="form-group">
                <label for="descricpion">Description</label>
                <textarea class="form-control" th:field="*{description}" id="descricpion"
                          placeholder="Una breve descripcion..." name="description"></textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" th:field="*{email}" id="email"
                       placeholder="yourtest@domain.com" name="email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div class="form-group">
                <label for="departamento">A quien va dirigido</label>
                <select class="form-control" th:field="*{department.id}" id="departamento" name="departamento">
                    <option th:value="-1">Sin departamento</option>
                    <option th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="espacio">Espacio</label>
                <select class="form-control" th:field="*{space.id}" id="espacio" name="espacio">
                    <option th:value="-1">Sin espacio</option>
                    <option th:each="spa : ${spaces}" th:value="${spa.id}" th:text="${spa.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="formFile" class="form-label">Adjunta fotos</label>
                <input class="form-control" type="file" id="formFile">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
        integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>

<script>

    var sidbarToggleBtn = $('#sidebarToggle');
    var main = $('main');

    sidbarToggleBtn.on('click', function () {
        main.toggleClass('sidebar-hide');
        console.log('click');
    });

    $(window).on('resize', function () {
        if ($(window).width() < 768) main.addClass('sidebar-hide');
        else main.removeClass('sidebar-hide');
    });
</script>
</body>
</html>