<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{incidencias.titulo1}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>

<body>

<th:block th:include="view/fragments/nav"></th:block>

<main class="d-flex flex-nowrap sidebar-hide" style="transition: 0.5s;">

    <th:block th:include="view/fragments/sidebar"></th:block>

    <div id="page-content-wrapper" class="m-4  mx-4 mt-4 mb-0">

        <div class="container-fluid">
            <button id="sidebarToggle" th:text="#{incidencias.sidebarbutton}"></button>

            <h1 class="mt-4" th:text="#{incidencias.titulo1}"></h1>

            <p th:text="#{incidencias.texto1}"></p>

            <p th:text="#{incidencias.texto2}"></p>

            <div class="d-flex justify-content-end">

                <p class="fs-5" th:text="#{incidencias.filtrotitulo}"></p>
                <div class="dropdown mx-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{incidencias.filtro1}"></button>
                    <!-- Esto se traduce por parte del servidor, en bdd -->
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/incidencias/limpieza">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

                <div class="dropdown mx-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{incidencias.filtro2}"></button>
                    <!-- Esto se traduce por parte del servidor, en bdd -->
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

            </div>

            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            En Espera
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordion">

                        <div class="accordion-body d-flex flex-wrap justify-content-sm-center justify-content-md-start">

                            <div class="d-flex justify-content-start" th:each="incidence : ${incidences}">
                                <a   th:if="${incidence.incidenceStateId == 1}" th:href="@{/incidencia/} + ${incidence.id}"
                                   class="card-link text-decoration-none text-dark">

                                    <div class="card card-animation card mb-4 mx-2"
                                         style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                                            <p class="card-text text-truncate mb-1"
                                               th:text="${incidence.description}"></p>
                                            <div class="d-flex justify-content-between">
                                                <small>Hace 4 días</small>
                                                <div>
                                                    <a th:href="@{/incidencia/modificar/} + ${incidence.id}"
                                                       class="icons-crud mx-1 text-primary"><span class="material-symbols-outlined">edit</span></a>
                                                    <a th:href="@{/incidencia/eliminar/} + ${incidence.id}"
                                                       class="icons-crud text-danger mx-1 text-delete"><span
                                                            class="material-symbols-outlined">delete_forever</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>


                            <a th:href="@{/incidencia/nueva}" class="card-link text-decoration-none text-primary">

                                <div class="card card-animation mx-2 bg-primary" style="width: 18rem;">
                                    <div class="card-body d-flex justify-content-center">
                                        <svg width="90px" height="90px" viewBox="-1.2 -1.2 26.40 26.40" fill="none"
                                             xmlns="http://www.w3.org/2000/svg" stroke="#ff9900">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                               stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path d="M13 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V9M13 3L19 9M13 3V8C13 8.55228 13.4477 9 14 9H19M12 13V17M14 15H10"
                                                      stroke="#ff990" stroke-width="2" stroke-linecap="round"
                                                      stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Solucionando
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordion">
                        <div class="accordion-body d-flex flex-wrap justify-content-sm-center justify-content-md-start">

                            <div class="d-flex justify-content-start" th:each="incidence : ${incidences}">
                                <a   th:if="${incidence.incidenceStateId == 2}" th:href="@{/incidencia/} + ${incidence.id}"
                                     class="card-link text-decoration-none text-dark">

                                    <div class="card card-animation mb-4 mx-2"
                                         style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                                            <p class="card-text text-truncate mb-1"
                                               th:text="${incidence.description}"></p>
                                            <div class="d-flex justify-content-between">
                                                <small>Hace 4 días</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Solucionado
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordion">
                        <div class="accordion-body d-flex flex-wrap justify-content-sm-center justify-content-md-start">

                            <div class="d-flex justify-content-start" th:each="incidence : ${incidences}">
                                <a   th:if="${incidence.incidenceStateId == 3}" th:href="@{/incidencia/} + ${incidence.id}"
                                     class="card-link text-decoration-none text-dark">

                                    <div class="card card-animation mb-4 mx-2"
                                         style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                                            <p class="card-text text-truncate mb-1"
                                               th:text="${incidence.description}"></p>
                                            <div class="d-flex justify-content-between">
                                                <small>Hace 4 días</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Cancelado
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordion">
                        <div class="accordion-body d-flex flex-wrap justify-content-sm-center justify-content-md-start">
                            <div class="d-flex justify-content-start" th:each="incidence : ${incidences}">
                                <a   th:if="${incidence.incidenceStateId == 4}" th:href="@{/incidencia/} + ${incidence.id}"
                                     class="card-link text-decoration-none text-dark">

                                    <div class="card card-animation  mb-4 mx-2"
                                         style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                                            <p class="card-text text-truncate mb-1"
                                               th:text="${incidence.description}"></p>
                                            <div class="d-flex justify-content-between">
                                                <small>Hace 4 días</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script th:src="@{js/jquery-3.6.3-min.js}"></script>
<script th:src="@{js/sidebar.js}"></script>

</body>

</html>
