<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${session.language.getKeyValue().get('incidenciastech.titulo1')}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" type="text/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>

<th:block th:include="view/fragments/sub-incidence-nav"></th:block>

<main class="d-flex flex-nowrap flex-column justify-content-center col-11 col-md-8 mx-auto">
    <h1 class="mt-4 mb-5">Assign Incidences</h1>
    <div class="accordion mb-3" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                        th:text="${session.language.getKeyValue().get('incidenciastech.acc1')}"></button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordion">
                <div class="accordion-body d-flex flex-wrap justify-content-center incidences">
                    <div class="card card mb-4 mx-2 incidence" style="width: 18rem;"
                         th:each="incidence : ${incidences}"
                         th:onclick="'window.location.href=\'' + @{/incidencia/} + ${incidence.id} + '\''">
                        <div class="card-body" style="cursor:pointer;">
                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                            <p class="card-text text-truncate mb-1" th:text="${incidence.description}"></p>
                            <div class="d-flex justify-content-between">
                                <small th:text="${#temporals.format(incidence.dateStart, 'dd-MM-yyyy HH:mm')}"></small>
                                <div>
                                    <a data-bs-toggle="modal" data-bs-target="#deleteIncidence"
                                       th:attr="data-link='/incidencia/head/cancelar/' + ${incidence.id}"
                                       class="icons-crud text-danger mx-1 text-delete btnDelModal">
                                        <span disabled="disabled" class="material-symbols-outlined">close</span>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <label for="urgent"></label>
                                <select class="form-select form-select-sm w-75" id="urgent"
                                        th:attr="data-incidence= ${incidence.id}">
                                    <option selected th:each="tech: ${techs}" th:text="${tech.username} + ' (' +  (${tech.department.name} ? ${tech.department.name} : 'N/A' ) + ')'" th:value="${tech.id}"
                                            th:selected="${incidence.techId == tech.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        th:text="${session.language.getKeyValue().get('incidenciastech.acc2')}"></button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordion">
                <div class="accordion-body d-flex flex-wrap justify-content-center incidences">
                    <div class="card  card mb-4 mx-2 incidence" style="width: 18rem;"
                         th:each="incidence : ${incidences}"
                         th:onclick="'window.location.href=\'' + @{/incidencia/} + ${incidence.id} + '\''"
                         th:if="${incidence.priority < 1 && incidence.incidenceState.id == 1}"
                    >
                        <div class="card-body" style="cursor:pointer;">
                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                            <p class="card-text text-truncate mb-1" th:text="${incidence.description}"></p>
                            <div class="d-flex justify-content-between">
                                <small th:text="${#temporals.format(incidence.dateStart, 'dd-MM-yyyy HH:mm')}"></small>
                                <div>
                                    <a data-bs-toggle="modal" data-bs-target="#deleteIncidence"
                                       th:attr="data-link='/incidencia/head/cancelar/' + ${incidence.id}"
                                       class="icons-crud text-danger mx-1 text-delete btnDelModal">
                                        <span disabled="disabled" class="material-symbols-outlined">close</span>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <label for="resolved"></label>
                                <select class="form-select form-select-sm w-75" id="resolved" th:attr="data-incidence= ${incidence.id}">
                                    <option selected th:each="tech: ${techs}" th:text="${tech.username}" th:value="${tech.id}"
                                            th:selected="${incidence.techId == tech.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                        th:text="${session.language.getKeyValue().get('incidenciastech.acc3')}"></button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordion">
                <div class="accordion-body d-flex flex-wrap justify-content-center incidences">
                    <div class="card  card mb-4 mx-2 incidence" style="width: 18rem;"
                         th:each="incidence : ${incidences}"
                         th:onclick="'window.location.href=\'' + @{/incidencia/} + ${incidence.id} + '\''"
                         th:if="${incidence.incidenceState.id == 2}"
                    >
                        <div class="card-body" style="cursor:pointer;">
                            <h5 class="card-title text-truncate" th:text="${incidence.title}"></h5>
                            <p class="card-text text-truncate mb-1" th:text="${incidence.description}"></p>
                            <div class="d-flex justify-content-between">
                                <small th:text="${#temporals.format(incidence.dateStart, 'dd-MM-yyyy HH:mm')}"></small>
                                <div>
                                    <a data-bs-toggle="modal" data-bs-target="#deleteIncidence"
                                       th:attr="data-link='/incidencia/head/cancelar/' + ${incidence.id}"
                                       class="icons-crud text-danger mx-1 text-delete btnDelModal">
                                        <span disabled="disabled" class="material-symbols-outlined">close</span>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <label for="progress"></label>

                                <select class="form-select form-select-sm w-75" id="progress" th:attr="data-incidence= ${incidence.id}">
                                    <option hidden="hidden" th:value="${incidence.id}"></option>
                                    <option selected th:each="tech: ${techs}" th:text="${tech.username}"
                                            th:selected="${incidence.techId == tech.id}" th:value="${tech.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="toast__container">
        <div class="toast__cell">
        </div>
    </div>
</main>

<div class="modal fade" id="deleteIncidence" tabindex="-1" aria-labelledby="deleteIncidence" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-primary text-texto-contraste">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deltext" th:text="${session.language.getKeyValue().get('incidencia.eliminar.titulo')}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="${session.language.getKeyValue().get('incidencia.eliminar.mensaje')}"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-texto-contraste" data-bs-dismiss="modal"
                        th:text="${session.language.getKeyValue().get('incidencia.eliminar.cancelar')}"></button>
                <a id="delBtnModal">
                    <button type="button" class="btn btn-secondary" th:text="${session.language.getKeyValue().get('incidencia.eliminar.boton')}"></button>
                </a>
            </div>
        </div>
    </div>
</div>

<p  th:text="${session.language.getKeyValue().get('notify.incidencia.asignada')}" hidden="hidden" id="feedBack"></p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.6.3-min.js}"></script>
<script th:src="@{/js/jquery.notifyBar.min.js}"></script>
<script th:src="@{/js/deleteModal.js}"></script>

<script>

    document.querySelectorAll(".form-select").forEach(function (element) {
        element.addEventListener("click", function (event) {
            event.preventDefault();
            event.stopPropagation();
        });
    });

    document.querySelectorAll("select").forEach(function (element) {
        element.addEventListener("input", function (e) {

            e.preventDefault();
            e.stopPropagation();

            const incidence = e.currentTarget.getAttribute("data-incidence");
            const tech = e.currentTarget.value;
            const message = document.getElementById("feedBack").innerText;
            const techName = e.currentTarget.options[e.currentTarget.selectedIndex].text;

            $.ajax('http://localhost:8080/tech/assign', {
                 method: 'PUT',
                 headers: {
                     'Authorization': localStorage.getItem('token')
                 },
                 data: {
                     incidenceId: incidence,
                     techId: tech
                 },
                 success: function (data) {
                     $.notifyBar({
                         html: message + " " + techName,
                         cssClass: "success",
                         delay: 5000,
                         position: "bottom",
                         animationSpeed: "normal"
                     });
                 },
                 error: function (data) {
                     console.log(data);
                 }
             });

        });
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>