<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Login</title>
</head>
<body class="custom-bg-1">
<th:block th:include="view/fragments/nav"></th:block>

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-5">
            <h2 class="text-center text-texto-contraste my-5">Inicio de sesión</h2>
            <div class="card rounded-4">
                <form class="card-body bg-primary p-lg-5 rounded-4">
                    <div class="text-center">
                        <img th:src="@{img/user.png}" class="img-fluid img-thumbnail rounded-circle my-3" width="200px" alt="img-principal" style="object-fit: cover;">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="email" placeholder="Correo Electrónico">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Contraseña">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-secondary px-5 mb-5 w-100">Entrar</button></div>
                    <div class="form-text text-center mb-5 text-texto-contraste">
                        No estas registrado?
                        <a th:href="@{/registro}" class="text-texto-contraste fw-bold text-decoration-none"> Create una cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="view/fragments/footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>