<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Registro</title>
</head>
<body class="custom-bg-1">
<th:block th:include="view/fragments/nav"></th:block>

<div class="container-fluid mb-5">
    <div class="row align-items-center" style="height: calc(100vh - 96px)">
        <div class="col-lg-6 offset-lg-3 mt-5">
            <h2 class="text-center text-texto-contraste mb-4">Registro</h2>
            <div class="card rounded-4 bg-primary">
                <form class="card-body bg-primary p-lg-4 pt-5 rounded-4 mx-xl-4" th:action="@{/registro}" method="POST" th:object="${user}" id="validatedForm">
                    <div class="p-lg-2">
                        <h3 class="h3 text-texto-contraste p-2 mt-2">Datos personales</h3>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="nombre">
                            <label for="name">Nombre</label>
                            <span class="invalid-feedback text-texto-contraste" id="nameBlankError"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="firstsurname" name="firstSurname" placeholder="apellido1">
                                    <label for="firstsurname">Primer apellido</label>
                                    <span class="invalid-feedback text-texto-contraste" id="firstSurnameBlankError"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="secondsurname" placeholder="Segundo apellido">
                                    <label for="secondsurname">Segundo apellido</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-lg-2">
                        <h3 class="h3 text-texto-contraste p-2 mt-2">Datos de cuenta</h3>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors() ? 'is-invalid' : ''}" id="username" th:field="*{username}" placeholder="nombre de usuario">
                            <label for="username">Nombre de usuario</label>
                            <span class="invalid-feedback text-texto-contraste" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors() ? 'is-invalid' : ''}" id="email" th:field="*{email}" name="email" placeholder="nombre@ejemplo.com">
                            <label for="email">Email</label>
                            <span class="invalid-feedback text-texto-contraste" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="contraseña">
                                    <label for="password">Contraseña</label>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Repetir contraseña">
                                    <label for="confirmpassword">Repetir contraseña</label>
                                    <span id="passwordMatchError" class="invalid-feedback text-texto-contraste"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary px-5 mb-3 w-50 disabled" id="submit">Crear cuenta</button>
                    </div>
                    <div class="form-text text-center mb-4 text-texto-contraste">
                        Ya estas registrado?
                        <a th:href="@{/login}" class="text-texto-contraste fw-bold text-decoration-none"> Inicia sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="view/fragments/footer"></th:block>
<script th:src="@{js/jquery-3.6.3-min.js}"></script>
<script>
    $(document).ready(function () {

        $("#confirmpassword").on('keyup', function(){
            const password = $("#password").val();
            const confirmPassword = $("#confirmpassword").val();
            if (password !== confirmPassword) {
                $("#passwordMatchError").html("Las contraseñas no coinciden.");
                $("#password").addClass("is-invalid");
                $("#confirmpassword").addClass("is-invalid");
            } else {
                $("#passwordMatchError").html("");
                $("#password").removeClass("is-invalid");
                $("#confirmpassword").removeClass("is-invalid");
            }
            activateButtonForm();
        });

        $("#name").on('keyup', function(){
            const name = $("#name").val();

            if (name === ""){
                $("#nameBlankError").html("El nombre es obligatorio.");
                $("#name").addClass("is-invalid");
            } else {
                $("#nameBlankError").html("");
                $("#name").removeClass("is-invalid");
            }
            activateButtonForm();
        });

        $("#firstsurname").on('keyup', function(){
            const firstsurname = $("#firstsurname").val();

            if(firstsurname === ""){
                $("#firstSurnameBlankError").html("El primer apellido es obligatorio.");
                $("#firstsurname").addClass("is-invalid");
            } else {
                $("#firstSurnameBlankError").html("");
                $("#firstsurname").removeClass("is-invalid");
            }
            activateButtonForm();
        });
    });

    function activateButtonForm(){
        const name = $("#name").val();
        const firstSurname = $("#firstsurname").val();
        const password = $("#password").val();
        const confirmpassword = $("#confirmpassword").val();
        console.log(name !== "" &&
            firstSurname !== "" &&
            password !== "" &&
            password === confirmpassword)
        if (name !== "" &&
            firstSurname !== "" &&
            password !== "" &&
            password === confirmpassword){
            $("#submit").removeClass("disabled");
        } else {
            $("#submit").addClass("disabled");
        }
    }


</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>