<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificacion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container-message" th:if="${isAccountVerified}">
    <div class="tick">
        <i class="fas fa-check-circle"></i>
    </div>
    <h1 class="title-verification" th:text="${session.language.getKeyValue().get('cuentaverificada.titulo')}"></h1>
    <p class="text-verification" th:text="${session.language.getKeyValue().get('cuentaverificada.mensaje')}"></p>
    <a th:href="@{/login}" class="btn btn-cta" th:text="${session.language.getKeyValue().get('cuentaverificada.btn.inicio')}"></a>
</div>

<div class="container-message" th:if="${isPasswordChanged}">
    <div class="tick">
        <i class="fas fa-check-circle"></i>
    </div>
    <h1 class="title-verification" th:text="${session.language.getKeyValue().get('contracambiada.titulo')}"></h1>
    <p class="text-verification" th:text="${session.language.getKeyValue().get('contracambiada.mensaje')}"></p>
    <a th:href="@{/login}" class="btn btn-cta" th:text="${session.language.getKeyValue().get('contracambiada.btn.inicio')}"></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>
