<div class="position-fixed" style="bottom: 14px; right: 14px;" id="abrirVentanaChatDiv" aria-label="chat">
    <button class="btn btn-secondary rounded-circle p-2" id="abrirVentanaChat">
        <img th:src="@{/img/live-chat.svg}" width="800" height="800" style="width: 32px; height: 32px;" alt="chat">
    </button>
</div>
<div th:fragment="chat" class="chat-live position-fixed d-none" id="chatLive">
    <div class="card text-center" id="chatCardLive">
        <div class="card-header d-none" id="titleChat">
            Chat de soporte
            <button class="btn btn-primary d-none mx-1 mx-lg-2" id="cerrarChat">Desconectar</button>
        </div>
        <div class="card-body chat-body" id="messagesChat">
            <h5 class="card-title">Iniciar chat en vivo</h5>
            <form id="initChatForm" class="d-flex flex-row justify-content-center p-1">
                <div class="m-lg-2 m-1">
                    <input type="text" class="form-control" name="nameChat" id="nameChat" placeholder="Nombre...">
                </div>
                <div class="m-lg-2 m-1">
                    <button type="submit" class="btn btn-primary" id="abrirChat">Abrir chat</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted d-none" id="messageFooterChat">
            <form class="row" id="sendMessage">
                <div class="col-auto col-lg-9">
                    <label for="inputMessage" class="visually-hidden">Mensaje</label>
                    <input type="text" class="form-control" id="inputMessage" placeholder="Mensaje...">
                </div>
                <div class="col-auto col-lg-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>