<footer th:fragment="footer" class="pt-4 pt-lg-5 bg-dark">
    <div class="row p-lg-5 p-3 me-0">
        <div class="col-12 col-lg">
            <img src="/img/logo-tr.png" alt="logo pagina" class="mb-4" width="80" height="80">
            <small class="d-block mb-4 text-muted">&copy; 2022-2023</small>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="#{footer.titulo1}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none" th:text="#{footer.sub11}"></a>
                </li>
                <li>
                    <a href="/public/nueva" class="text-muted link-texto-contraste text-decoration-none" th:text="#{footer.sub12}"></a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none" th:text="#{footer.sub13}"></a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="#{footer.titulo2}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="/contacto" class="text-muted link-texto-contraste text-decoration-none">Contacto</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Twitter</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Facebook</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="#{footer.titulo3}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="/politica-privacidad" class="text-muted link-texto-contraste text-decoration-none" th:text="#{footer.sub31}"></a>
                </li>
                <li>
                    <a href="/sobre-nosotros" class="text-muted link-texto-contraste text-decoration-none" th:text="#{footer.sub32}"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>