<footer th:fragment="footer" class="pt-4 pt-lg-5 bg-dark">
    <div class="row p-lg-5 p-3 me-0">
        <div class="col-12 col-lg">
            <img src="/img/logo-tr.webp" alt="logo pagina" class="mb-4" width="80" height="80">
            <small class="d-block mb-4 text-texto-contraste">&copy; 2022-2023</small>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="${session.language.getKeyValue().get('footer.titulo1')}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="/" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('footer.sub11')}"></a>
                </li>
                <li>
                    <a href="/incidencia/nueva" th:if="${userlogin}" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('footer.sub12')}"></a>
                    <a href="/public/nueva" th:unless="${userlogin}" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('footer.sub12')}"></a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="${session.language.getKeyValue().get('footer.titulo2')}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="/contacto" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('contacto')}"></a>
                </li>
                <li>
                    <a href="https://www.twitter.com" class="text-decoration-underline text-texto-contraste">Twitter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com" class="text-decoration-underline text-texto-contraste">Facebook</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5 th:text="${session.language.getKeyValue().get('footer.titulo3')}"></h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="/politica-privacidad" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('footer.sub31')}"></a>
                </li>
                <li>
                    <a href="/sobre-nosotros" class="text-decoration-underline text-texto-contraste" th:text="${session.language.getKeyValue().get('footer.sub32')}"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>