<footer th:fragment="footer" class="pt-4 pt-lg-5 bg-dark">
    <div class="row p-lg-5 p-3 me-0">
        <div class="col-12 col-lg">
            <img src="/img/logo-tr.png" alt="logo pagina" class="mb-4" width="80" height="80">
            <small class="d-block mb-4 text-muted">&copy; 2022-2023</small>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5>Accesos directos</h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Inicio</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Mis incidencias</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Ver planes</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5>Contacto</h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Ejemplo 1</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Ejemplo 2</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Ejemplo 3</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg text-texto-contraste">
            <h5>Información</h5>
            <ul class="list-unstyled text-small p-2">
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Política</a>
                </li>
                <li>
                    <a href="#" class="text-muted link-texto-contraste text-decoration-none">Sobre nosotros</a>
                </li>
            </ul>
        </div>
    </div>
</footer>