<form th:fragment="form" th:action="@{/nueva/incidencia}"  th:object="${incidence}" method="POST" class=" needs-validation container" novalidate>
  <div class="row justify-content-center">

    <div class="col-12 col-xl-6 col-lg-8 col-md-10 col-sm-12 mb-3">
      <label for="title" class="form-label" th:text="#{formupt.campo1}"><span class="text-delete">*</span> </label>
      <input type="text" class="form-control" th:field="*{title}" name="title" id="title" minlength="3" maxlength="50" required>
      <div class="invalid-feedback" th:text="#{formupt.campo1.error}"></div>
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></span>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-xl-3 col-lg-4 col-md-10 col-sm-12 mb-3">
      <label for="department" th:text="#{formupt.campo3}"></label>
      <select class="form-select" th:field="*{department.id}" name="department" id="department">
        <option th:value="-1" th:text="#{formupt.campo3.value0}"></option>
        <option th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
      </select>
    </div>

    <div class="col-12 col-xl-3 col-lg-4 col-md-10 col-sm-12 mb-3">
      <label for="space" th:text="#{formupt.campo4}"></label>
      <select class="form-select"  th:field="*{space.id}" name="space" id="space">
        <option th:value="-1" th:text="#{formupt.campo4.error}"></option>
        <option th:each="spa : ${spaces}" th:value="${spa.id}" th:text="${spa.name}"></option>
      </select>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-12 col-xl-6 col-lg-8 col-md-10 col-sm-12">
      <label for="description" th:text="#{formupt.campo5}"><span class="text-delete">*</span></label>
      <textarea class="form-control" th:field="*{description}" name="description" id="description" rows="3" minlength="10" maxlength="512" required></textarea>
      <div class="invalid-feedback" th:text="#{formupt.campo5.error}"></div>
      <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>
  </div>

  <!--Validar extensiones en el lado del cliente-->
  <div class="row justify-content-center mb-3">
    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
      <label for="formFileMultiple" class="form-label" th:text="#{formupt.campo6}"></label>
      <input class="form-control" type="file" id="formFileMultiple" multiple name="files">
    </div>
  </div>

  <div class="fst-italic text-center">
    <span th:text="#{formnew.advise1}"></span>
    <strong th:text="#{formnew.advise2}"></strong>
    <span th:text="#{formnew.advise3}"></span>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
      <button type="submit" class="btn btn-secondary w-100">Enviar</button>
    </div>
  </div>
</form>