<div th:fragment="formNoUser" class="container-fluid mb-5">
  <div class="row align-items-center" style="height: calc(100vh - 96px)">
    <div class="col-lg-6 offset-lg-3 mt-5">
      <h2 class="text-center text-texto-contraste mb-4">NUEVA INCIDENCIA</h2>
      <div class="card rounded-4 bg-primary">

        <form th:fragment="form" th:action="@{/public/nueva/incidencia}" th:object="${incidence}" method="POST"
              class=" needs-validation container mb-4 mt-4"  enctype="multipart/form-data" novalidate>
          <div class="row justify-content-center">

            <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-12 mb-3">
              <label for="title" class="form-label"><span class="text-texto-contraste" th:text="#{formupt.campo1}"></span>
                <span class="text-delete">*</span> </label>
              <input type="text" class="form-control" th:field="*{title}" name="title" id="title"
                     minlength="3" maxlength="50" required>
              <div class="invalid-feedback text-texto-contraste" th:text="#{formupt.campo1.error}">
                Escribe un titulo valido.
              </div>
              <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
          </div>

          <div class="row justify-content-center mb-3">
            <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-12">
              <label for="email" class="form-label"><span class="text-texto-contraste" th:text="#{formupt.campo2}"></span> <span
                      class="text-delete">*</span></label>
              <input type="email" class="form-control" th:field="*{email}" name="email" id="email"
                     required>
              <div class="invalid-feedback text-texto-contraste" th:text="#{formupt.campo1.error}">
                No es un email valido.
              </div>
              <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
          </div>

            <div class="row justify-content-center">
              <div class="col-12 col-xl-4 col-lg-5 col-md-10 col-sm-12 mb-3">
                <label for="department" class="form-label"> <span class="text-texto-contraste"  th:text="#{formupt.campo3}"></span></label>
                <select class="form-select" th:field="*{department.id}" name="department" id="department">
                  <option th:value="-1" th:text="#{formupt.campo3.value0}"></option>
                  <option th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
                </select>
              </div>


          <div class="col-12 col-xl-4 col-lg-5 col-md-10 col-sm-12 mb-3">
            <label for="space" class="form-label"><span class="text-texto-contraste"  th:text="#{formupt.campo4}"></span></label>
            <select class="form-select"  th:field="*{space.id}" name="space" id="space">
              <option th:value="-1" th:text="#{formupt.campo4.error}"></option>
              <option th:each="spa : ${spaces}" th:value="${spa.id}" th:text="${spa.name}"></option>
            </select>
          </div>
      </div>


          <div class="row justify-content-center mb-3">
            <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-12">
              <label for="description" class="form-label"><span class="text-texto-contraste"  th:text="#{formupt.campo5}"></span><span class="text-delete">*</span></label>
              <textarea class="form-control" th:field="*{description}" name="description" id="description" rows="3" minlength="10" maxlength="512" required></textarea>
              <div class="invalid-feedback text-texto-contraste" th:text="#{formupt.campo5.error}"></div>
              <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
          </div>

          <div class="row justify-content-center mb-3">
            <div class="col-12 col-xl-8 col-lg-10 col-md-10">
              <label for="formFileMultiple" class="form-label"><span class="text-texto-contraste"  th:text="#{formupt.campo6}"></span></label>
              <input class="form-control" type="file" id="formFileMultiple" multiple name="files">
            </div>
          </div>

          <div class="fst-italic text-center mb-3 text-texto-contraste">
            <span th:text="#{formnew.advise1}"></span>
            <strong th:text="#{formnew.advise2}"></strong>
            <span th:text="#{formnew.advise3}"></span>
          </div>

          <div class="row justify-content-center mb-4">
            <div class="col-12 col-xl-6 col-lg-10 col-md-10">
              <button type="submit" class="btn btn-secondary w-100">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>