<form th:fragment="formfilter" id="filter" th:action="@{/incidencias}" method="post" class="d-flex justify-content-end align-items-end">
  <span class="fs-1 text-secondary material-symbols-outlined mx-2" style="user-select: none">filter_list</span>

  <div class="d-flex flex-column align-items-start">
    <label for="datepicker">Fecha</label>
    <input type="text" class="form-control" id="datepicker" name="dateStart" placeholder="AAAA-MM-DD" style="cursor: pointer" autocomplete="off">
  </div>

  <div class=" mx-2 d-flex flex-column align-items-start">
    <label for="dep" class="mx-2" th:text="#{formupt.campo3}"></label>
    <select class="form-select mx-2" name="department" id="dep">
      <option th:text="#{filter.todos}" th:value="0" selected></option>
      <option th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
    </select>
  </div>

  <div class=" mx-2  d-flex flex-column align-items-start">
    <label for="spa" class="mx-2" th:text="#{formupt.campo4}"></label>
    <select class="form-select" name="space" id="spa">
      <option th:text="#{filter.todos}" th:value="0" selected></option>
      <option th:each="spa : ${spaces}" th:value="${spa.id}" th:text="${spa.name}"></option>
    </select>
  </div>

  <div>
    <a th:href="@{/incidencias}" id="reset-filter" class="btn btn-secondary" type="button">RESET</a>
  </div>

  <div class="mx-2">
    <button id="filter " type="submit" class="btn btn-secondary">FILTRAR</button>
  </div>
</form>
