<div id="message-container" th:fragment="formMessage" class="col-12 mx-5 mb-5" th:if="${incidence.incidenceState.id != 3 and incidence.incidenceState.id != 4}">
  <div id="message" class="card-comment p-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="user d-flex flex-row align-items-center w-100">
        <form th:if="!${isUpdateMessage}"
              th:action="@{/guardar/mensaje/{incidenceId}(incidenceId=${incidence.id})}" method="POST"
              th:object="${newMessage}" class="w-100"
                id="new">

          <div class="d-flex justify-content-between">
            <p class="fs-6 w-50" th:text="${session.language.getKeyValue().get('incidencia.mensaje.nuevo')}"></p>

            <div class="w-50 d-flex justify-content-end align-items-center"
                 th:if="${userlogin.type == T(com.quicksolve.proyecto.entity.type.UserType).TECH}">
              <label for="action" class="mx-2" th:text="${session.language.getKeyValue().get('incidencia.mensaje.accion')}"></label>
              <input type="checkbox" name="isAction" th:field="*{action}" th:value="*{action}"
                     id="action">
            </div>
          </div>


          <div class="form-floating">
                                    <textarea th:field="*{body}" th:value="*{body}" class="form-control"
                                              th:placeholder="${session.language.getKeyValue().get('incidencia.mensaje.enviar.placeholder')}"
                                              id="messageUser"></textarea>
            <label for="messageUser" th:text="${session.language.getKeyValue().get('incidencia.mensaje')}"></label>
          </div>

          <div class="d-flex justify-content-end w-100">
            <button class="btn btn-secondary mt-2" th:text="${session.language.getKeyValue().get('formupt.enviar')}"></button>
          </div>
        </form>


        <form th:if="${isUpdateMessage}" th:id="update"
              th:action="@{/editar/mensaje/{incidenceId}(incidenceId=${incidence.id})} + '/' + ${message.id}"
              method="POST" th:object="${message}" class="w-100"
              id="update">

          <div class="col-12 d-flex justify-content-center"
               th:if="${incidence.incidenceState.id == 3}">
            <div class="alert alert-warning d-flex flex-nowrap align-items-center justify-content-center w-100"
                 role="alert">
                <span class="material-symbols-outlined mx-2">
                    lock
                </span> Estas editando un mensaje!
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fs-6 w-50" th:text="${session.language.getKeyValue().get('incidencia.mensaje.nuevo')}"></p>

            <div class="w-50 d-flex justify-content-end"
                 th:if="${userlogin.type == T(com.quicksolve.proyecto.entity.type.UserType).TECH}">
              <label for="actionUpdate" class="mx-2">
                Es una acción?
              </label>
              <input type="checkbox" id="actionUpdate"
                     th:if="${userlogin.type == T(com.quicksolve.proyecto.entity.type.UserType).TECH}"
                     name="isAction" th:field="*{action}" th:value="*{action}">
            </div>
          </div>


          <div class="form-floating">
                                    <textarea th:field="*{body}" th:value="*{body}" class="form-control"
                                              placeholder="Envia tu mensaje..."
                                              id="messageUserUpdate"></textarea>
            <label for="messageUser">Mensaje</label>
          </div>


          <div class="d-flex justify-content-end w-100">
            <a th:href="@{/incidencia/} + ${incidence.id}" class="btn btn-primary mt-2 mx-2"
               th:text="${session.language.getKeyValue().get('incidencia.eliminar.cancelar')}"></a>
            <button class="btn btn-secondary mt-2 mx-2" th:text="${session.language.getKeyValue().get('formupt.enviar')}"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

