<div th:fragment="messages" class="col-12 mt-3 mb-5 comment-section" id="comments">

    <div class="card-comment p-3 mb-4" th:each="message : ${incidence.messages}"
         th:class="${message.action} ? 'card-comment p-3 mb-4 bg-secondary' : 'card-comment p-3 mb-4'">
        <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center">
                <img th:src="@{/img/user.png}" width="30" alt="" class="d-none d-lg-block user-img rounded-circle mx-3">
                <span>
                            <small th:if="${message.user.id == userlogin.id}" th:text="${session.language.getKeyValue().get('incidencia.mensaje.propio')}"
                                   class="font-weight-bold fs-5"></small>
                            <small th:unless="${message.user.id == userlogin.id}" th:text="${message.user.username}"
                                   class="font-weight-bold fs-5"></small>
                                                   <br>
                                <p th:class="${message.action} ? 'font-weight-bold bg-secondary text-darker fs-5' : 'font-weight-bold fs-5'"
                                   th:text="${message.body}"></p>
                        </span>
            </div>
        </div>


        <div class="action d-flex justify-content-between mt-2 align-items-center">
            <div class="reply d-flex justify-content-start">
                <a
                        th:class="${message.action} ? 'font-weight-bold bg-secondary text-darker mx-2 text-decoration-none' : 'font-weight-bold mx-2 text-decoration-none'"
                        th:if="${message.user.id == userlogin.id and incidence.incidenceState.id != 3 and incidence.incidenceState.id != 4}"
                        th:href="@{/editar/mensaje/} + ${incidence.id} +'/'+ ${message.id}"
                        th:text="${session.language.getKeyValue().get('incidencia.mensaje.modificar')}">
                </a>
                <a
                        th:class="${message.action} ? 'font-weight-bold bg-secondary text-darker mx-2 text-decoration-none' : 'font-weight-bold mx-2 text-decoration-none'"
                        th:if="${message.user.id == userlogin.id and  incidence.incidenceState.id != 3 and incidence.incidenceState.id != 4}"
                        th:href="@{/borrar/mensaje/} + ${incidence.id} +'/'+ ${message.id}"
                        th:text="${session.language.getKeyValue().get('incidencia.mensaje.borrar')}">
                </a>
            </div>

            <small th:text="${#temporals.format(message.dateHour,'dd-MM-yyyy HH:mm')}"></small>
        </div>
    </div>
</div>
