<header class="sticky-top">
    <nav th:fragment="nav" class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark"  data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/logo-tr.png}" alt="logo" width="70" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item px-2">
                        <a class="nav-link current-page p-3 rounded-pill" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link p-3 rounded-pill" th:href="@{/login}" th:if="${userlogin}" th:text="${userlogin.username}"> <img th:src="@{/img/account-sign.svg}" alt="user icon" width="24" height="24"></a>
                        <a class="nav-link p-3 rounded-pill" th:href="@{/login}" th:unless="${userlogin}">Login <img th:src="@{/img/account-sign.svg}" alt="user icon" width="24" height="24" id="user-icon"></a>
                    </li>
                    <li class="nav-item px-2">
                        <a th:href="@{/logout}" th:if="${userlogin}">Log out</a>
                        <a class="nav-link p-3 rounded-pill" th:href="@{/registro}" th:unless="${userlogin}">Registrarse</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link p-3 rounded-pill" aria-current="page" th:href="@{/incidencias}">Mis incidencias</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link p-3 rounded-pill" href="#">Abrir incidencia</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link p-3 rounded-pill" aria-current="page" th:href="@{/planes}">Ver planes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
