<header  th:fragment="nav-incidence" class="sticky-top">
  <nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/logo-tr.png}" alt="logo" width="70" height="70">
      </a>
      <div id="button-navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-5">
          <li class="nav-item px-2" th:if="not ${userLogin}">
            <a class="nav-link p-3 rounded-pill" aria-current="page" th:if="not ${userLogin}"  th:href="@{/}"  th:text="#{nav.li1}"></a>
          </li>
          <li class="nav-item px-2">
            <!-- el link de abajo tendrá que llevar al apartado de cuenta del usuario -->
            <a class="nav-link p-3 rounded-pill" th:href="@{/cuenta}" th:if="${userlogin}" th:text="${userlogin.username}"> <img th:src="@{img/account-sign.svg}" alt="user icon" width="24" height="24"></a>
            <a class="nav-link p-3 rounded-pill" th:href="@{/login}" th:unless="${userlogin}">Login <img th:src="@{/img/account-sign.svg}" alt="user icon" width="24" height="24" id="user-icon"></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link p-3 rounded-pill" style="cursor: pointer;" th:if="${userlogin}" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="#{nav.li2}"></a>
            <a class="nav-link p-3 rounded-pill" th:href="@{/registro}" th:unless="${userlogin}" th:text="#{nav.li3}"></a>
          </li>

          <li class="nav-item px-2" th:if="not ${userlogin}">
            <a class="nav-link p-3 rounded-pill" th:if="not ${userlogin}" th:href="@{/public/nueva}" th:text="#{nav.li5}"></a>
          </li>
          <li class="nav-item px-2" th:if="not ${userlogin}">
            <a class="nav-link p-3 rounded-pill" aria-current="page" th:href="@{/planes}" th:text="#{nav.li6}"></a>
          </li>
          <li class="nav-item dropdown px-2">
            <a th:text="#{idioma}" class="nav-link dropdown-toggle p-3 rounded-pill" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item nav-item-personalized" th:href="@{''(lang=es)}">Español</a></li>
              <li><a class="dropdown-item nav-item-personalized" th:href="@{''(lang=en)}">English</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<th:block th:include="view/fragments/sub-nav"></th:block>
</header>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-primary text-texto-contraste">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{nav.li2}"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" th:text="#{nav.li2.body}"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-texto-contraste" data-bs-dismiss="modal" th:text="#{nav.li2.cerrar}"></button>
        <a th:href="@{/logout}"><button type="button" class="btn btn-secondary" th:text="#{nav.li2}"></button></a>
      </div>
    </div>
  </div>
</div>
