<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="text/x-icon" th:href="@{/img/favicon.ico}">

    <title>404</title>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <p class="display-1">Oops!</p>
    <h2>The request you are trying to access is not available</h2>
    <a th:href="@{/}" class="btn btn-cta" >HOME</a>
</div>
</body>
</html>