<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title th:text="#{inicio.titulo1}"></title>
</head>
<body class="custom-bg-1">
    <th:block th:include="view/fragments/nav"></th:block>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center flex-column text-center" style="height: calc(100vh - 96px);">
            <div class="mx-2 bg-texto-contraste bg-opacity-75 p-5 rounded-5" style="max-width: 1000px; max-height: 1000px; backdrop-filter: blur(4px);">
                <h2 class="display-2" th:text="#{inicio.lema1}"></h2>
                <p class="lead" th:text="#{inicio.lema2}"></p>
                <a href="#" class="btn btn-secondary btn-lg rounded-pill m-lg-5 m-3 p-lg-4 p-3" th:text="#{inicio.botonincidencia1}"></a>
                <p th:text="#{inicio.lema3}">
                    <a th:href="@{/registro}" th:text="#{inicio.lema3.submensaje1}"></a> <span th:text="#{inicio.lema3.submensaje2}"></span>
                </p>
            </div>
        </div>
        <section class="bg-white w-100 border-top border-primary border-5 border-opacity-75">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-2"><img class="img-fluid" th:src="@{img/advice-1-homepage.svg}" alt="chica mirando pantalla con aviso" /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1 border border-secondary rounded-4">
                        <div class="p-5">
                            <h2 class="display-5 pb-2" th:text="#{inicio.subtexto1.titulo}"></h2>
                            <p th:text="#{inicio.subtexto1.cuerpo}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white w-100">
            <div class="container px-5 mb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-2"><img class="img-fluid" th:src="@{img/advice-2-homepage.svg}" alt="chico enseñando un chat surrealista con iconos decorativos" /></div>
                    </div>
                    <div class="col-lg-6 border border-secondary rounded-4">
                        <div class="p-5">
                            <h2 class="display-5 pb-2" th:text="#{inicio.subtexto2.titulo}"></h2>
                            <p th:text="#{inicio.subtexto2.cuerpo}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <th:block th:include="view/fragments/footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>