.material-symbols-outlined {
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.material-symbols-outlined:hover {
  font-size: 1.6rem;
  transform: scale(1.2);
}

.card-animation {
 transition: 0.5s;
  cursor: pointer;
}

.card-animation:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}