@import "variables";

.chat-live {
  width: 100%;
  max-width: 500px;
  bottom: 85px;
  right: 45px;
  transition: all 1s;
}

.chat-body {
  max-height: 425px;
  overflow: auto;
}

.chat-bubble1 {
  background: $chat-bubble;
  border-radius: 20px 20px 3px 20px;
}

.chat-bubble2 {
  background: $chat-bubble;
  border-radius: 20px 20px 20px 3px;
}

@media (max-width: 868px) {
  .chat-live {
    right: 0;
    bottom: 100px;
  }
}