@import "variables";

.mx-6 {
    margin-left: 15rem;
    margin-right: 15rem;
}


@media (max-width: 1200px) {
    .mx-6 {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media (max-width: 992px) {
    .mx-6 {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

