@import "variables";

.sidebar-dashboard {
  min-width: 280px;
  max-width: 280px;
  position: sticky;
  top: 96px;
  z-index: 777;
  height: calc(100vh - 96px);

  &-responsive {
    position: sticky;
    min-width: 100%;
    top: 96px;
    z-index: 777;
    height: calc(100vh - 96px);
  }
}

li .hoverEffect:hover {
  background-color: $secondary;
  color: $darker;
}

.sidebar-hide {
  margin-left: -280px;
}

.nav-pills .nav-link.sidebar-active {
  background-color: $secondary;
}