@import "variables";

.sidebar-dashboard{
  min-width: 280px;
  max-width: 280px;
  position: sticky;
  top: 96px;
  z-index: 777;
  height: calc(100vh - 96px);
}

li a:hover {
  background-color: rgb(255, 153, 0);
  color: rgb(46, 46, 46);
}

.sidebar-hide {
  margin-left: -280px;
}